#grad {
    background-image: linear-gradient(to bottom right, black, darkred);
}
body {
    background-color: black;
    text-align: center;
}
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
#section1 {
    background: linear-gradient(to bottom right, black, darkred);
}
#section2 {
    background-color: white;
}
h1.name {
    margin-top: 130px;
    padding: 10px;
    color: white;
}
button.me {
    text-align: center;
    border: none;
    padding: 0;
    width: 200px;
    height: 100px;
}

button img {
    width: 200px;
    height: auto;
}
