@font-face {
    font-family: 'SpaceMono';
    src: url('/assets/fonts/Space_Mono/SpaceMono-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #111111;
}

section {
    height: 100vh;
}

section#home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

div#homeContainer {
    text-align: center;
    max-width: 75%;
}

h1#homeh1 {
    font-family: 'SpaceMono', monospace;
    font-size: 40px;
    margin: 25px;
    margin-top: 0;
}

button#homeButton {
    font-family: 'SpaceMono';
    color: white;
    background-color: #111111;
    height: 50px;
    width: 200px;
    border: 1px solid darkred;
    border-radius: 5px;
}

button#homeButton:hover {
    background-color: #333333;
}
span.red {
    color: red;
}

@media (width < 1000px) {
    h1#homeh1 {
        font-size: 30px;
    }
}

@media (width < 600px) {
    h1#homeh1 {
        font-size: 20px;
    }
}